DATABASE_URL=libsql://team-manager-abedshamia.aws-eu-west-1.turso.io
DATABASE_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NTM2NDc3ODAsImlkIjoiMzkzMTZmYjgtMTNiZS00ZDEyLWJkMDYtOWQ0ZmIzNzNiNTA0IiwicmlkIjoiY2UwYjA1NzAtNTk0Yi00NTI5LWFlMTctNDJlM2ZjMjAwNTJlIn0.MYsCgrqmQDqGKQGYNYLH3VLDdQqS39h8DeCRSnfqniV6XZYQnNXCQjsz7PjRIq6z5d9h9uYi4lmjRljV0EVMAA